*{
    margin: 0px;
    padding: 0px;
}

.container{
    margin: auto;
    position: relative;
    width: 720px;
    height: 480px;
}

.video{
    width: 100%;
}

.controle{
    position: absolute; 
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    /* display: none; */
}

/* .video:hover + .controle{
    display: block;
} */

.btn{
    position: relative;
    padding: 10px;
    top: 100%;
    transform: translateY(-200%);
}